<div class="container">
  <h2>Your search results in Abu Dhabi for 2 guests</h2>
  <section>
    <!-- HOTEL -->
    <article>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-sm-8">
                  <h4><strong>Yas Island Rotana</strong></h4>
                  <div class="location">
                    <small>
                      <i class="glyphicon glyphicon-map-marker"></i> Abu Dhabi
                    </small>
                  </div>
                </div>
                <div class="col-sm-4 text-right">
                  <h3 class="price text-danger">
                    Price for guest
                    <strong>IDR955.172,00</strong>
                  </h3>
                  <div>
                    <button class="btn btn-default" href="#" class="btn btn-link"><i class="glyphicon glyphicon-remove"></i> Close Details</button>
                    <a href="hotel-book.html" class="btn btn-primary">Booking</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <section class="rooms">
            <h3>Description</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem totam qui facere, fugiat officiis ullam omnis soluta atque voluptatum esse ducimus non repudiandae laborum ab magnam itaque, hic alias doloremque.</p>
            <h3>Rooms Description</h3>

            <ul class="list-group">
              <li class="list-group-item hotel-list">
                <div class="row">
                  <div class="col-sm-6">
                    <label class="control-label">Type Name:</label>
                    <h4>Classic Room, 2 Twin Beds</h4>
                  </div>
                  <div class="col-sm-6 text-right">
                    <label class="control-label">Capacity:</label>
                    <h4 class="price text-danger"><strong>2</strong></h4>
                  </div>
                </div>
              </li>
              <li class="list-group-item hotel-list">
                <div class="row">
                  <div class="col-sm-6">
                    <label class="control-label">Room Name:</label>
                    <h4>Classic Room, 2 Twin Beds</h4>
                  </div>
                  <div class="col-sm-6 text-right">
                    <label class="control-label">Capacity:</label>
                    <h4 class="price text-danger"><strong>2</strong></h4>
                  </div>
                </div>
              </li>
              <li class="list-group-item hotel-list">
                <div class="row">
                  <div class="col-sm-6">
                    <label class="control-label">Room Name:</label>
                    <h4>Classic Room, 2 Twin Beds</h4>
                  </div>
                  <div class="col-sm-6 text-right">
                    <label class="control-label">Capacity:</label>
                    <h4 class="price text-danger"><strong>2</strong></h4>
                  </div>
                </div>
              </li>
            </ul>
          </section>
        </div>
      </div>
    </article>
    <!-- /HOTEL -->

    <!-- HOTEL -->
    <article>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-sm-8">
                  <h4><strong>Yas Island Rotana</strong></h4>
                  <div class="location">
                    <small>
                      <i class="glyphicon glyphicon-map-marker"></i> Abu Dhabi
                    </small>
                  </div>
                </div>
                <div class="col-sm-4 text-right">
                  <h3 class="price text-danger">
                    Price for guest
                    <strong>IDR955.172,00</strong>
                  </h3>
                  <div>
                    <button class="btn btn-default" href="#" class="btn btn-link"><i class="glyphicon glyphicon-plus"></i> Open Details</button>
                    <a href="hotel-book.html" class="btn btn-primary">Booking</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
    <!-- /HOTEL -->

    <!-- HOTEL -->
    <article>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-sm-8">
                  <h4><strong>Yas Island Rotana</strong></h4>
                  <div class="location">
                    <small>
                      <i class="glyphicon glyphicon-map-marker"></i> Abu Dhabi
                    </small>
                  </div>
                </div>
                <div class="col-sm-4 text-right">
                  <h3 class="price text-danger">
                    Price for guest
                    <strong>IDR955.172,00</strong>
                  </h3>
                  <div>
                    <button class="btn btn-default" href="#" class="btn btn-link"><i class="glyphicon glyphicon-plus"></i> Open Details</button>
                    <a href="hotel-book.html" class="btn btn-primary">Booking</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
    <!-- /HOTEL -->

    <!-- HOTEL -->
    <article>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-sm-8">
                  <h4><strong>Yas Island Rotana</strong></h4>
                  <div class="location">
                    <small>
                      <i class="glyphicon glyphicon-map-marker"></i> Abu Dhabi
                    </small>
                  </div>
                </div>
                <div class="col-sm-4 text-right">
                  <h3 class="price text-danger">
                    Price for guest
                    <strong>IDR955.172,00</strong>
                  </h3>
                  <div>
                    <button class="btn btn-default" href="#" class="btn btn-link"><i class="glyphicon glyphicon-plus"></i> Open Details</button>
                    <a href="hotel-book.html" class="btn btn-primary">Booking</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
    <!-- /HOTEL -->

    <!-- HOTEL -->
    <article>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-sm-8">
                  <h4><strong>Yas Island Rotana</strong></h4>
                  <div class="location">
                    <small>
                      <i class="glyphicon glyphicon-map-marker"></i> Abu Dhabi
                    </small>
                  </div>
                </div>
                <div class="col-sm-4 text-right">
                  <h3 class="price text-danger">
                    Price for guest
                    <strong>IDR955.172,00</strong>
                  </h3>
                  <div>
                    <button class="btn btn-default" href="#" class="btn btn-link"><i class="glyphicon glyphicon-plus"></i> Open Details</button>
                    <a href="hotel-book.html" class="btn btn-primary">Booking</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
    <!-- /HOTEL -->

    <!-- HOTEL -->
    <article>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-sm-8">
                  <h4><strong>Yas Island Rotana</strong></h4>
                  <div class="location">
                    <small>
                      <i class="glyphicon glyphicon-map-marker"></i> Abu Dhabi
                    </small>
                  </div>
                </div>
                <div class="col-sm-4 text-right">
                  <h3 class="price text-danger">
                    Price for guest
                    <strong>IDR955.172,00</strong>
                  </h3>
                  <div>
                    <button class="btn btn-default" href="#" class="btn btn-link"><i class="glyphicon glyphicon-plus"></i> Open Details</button>
                    <a href="hotel-book.html" class="btn btn-primary">Booking</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
    <!-- /HOTEL -->

    <!-- HOTEL -->
    <article>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-sm-8">
                  <h4><strong>Yas Island Rotana</strong></h4>
                  <div class="location">
                    <small>
                      <i class="glyphicon glyphicon-map-marker"></i> Abu Dhabi
                    </small>
                  </div>
                </div>
                <div class="col-sm-4 text-right">
                  <h3 class="price text-danger">
                    Price for guest
                    <strong>IDR955.172,00</strong>
                  </h3>
                  <div>
                    <button class="btn btn-default" href="#" class="btn btn-link"><i class="glyphicon glyphicon-plus"></i> Open Details</button>
                    <a href="hotel-book.html" class="btn btn-primary">Booking</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
    <!-- /HOTEL -->

    <!-- HOTEL -->
    <article>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-sm-8">
                  <h4><strong>Yas Island Rotana</strong></h4>
                  <div class="location">
                    <small>
                      <i class="glyphicon glyphicon-map-marker"></i> Abu Dhabi
                    </small>
                  </div>
                </div>
                <div class="col-sm-4 text-right">
                  <h3 class="price text-danger">
                    Price for guest
                    <strong>IDR955.172,00</strong>
                  </h3>
                  <div>
                    <button class="btn btn-default" href="#" class="btn btn-link"><i class="glyphicon glyphicon-plus"></i> Open Details</button>
                    <a href="hotel-book.html" class="btn btn-primary">Booking</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
    <!-- /HOTEL -->

    <!-- HOTEL -->
    <article>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-sm-8">
                  <h4><strong>Yas Island Rotana</strong></h4>
                  <div class="location">
                    <small>
                      <i class="glyphicon glyphicon-map-marker"></i> Abu Dhabi
                    </small>
                  </div>
                </div>
                <div class="col-sm-4 text-right">
                  <h3 class="price text-danger">
                    Price for guest
                    <strong>IDR955.172,00</strong>
                  </h3>
                  <div>
                    <button class="btn btn-default" href="#" class="btn btn-link"><i class="glyphicon glyphicon-plus"></i> Open Details</button>
                    <a href="hotel-book.html" class="btn btn-primary">Booking</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
    <!-- /HOTEL -->

    <div class="text-center">
      <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">&lsaquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">&rsaquo;</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>
  </section>
</div>
