<div class="container">
  <h2>Flight Summary</h2>
  <div class="row">
    <div class="col-md-12">
      <form role="form" action="#">
        <section>
          <h4>Contact Information</h4>
          <ul class="list-group">
            <li class="list-group-item">
              <div class="pull-left">
                <span>Full name</span>
              </div>
              <div class="pull-right">
                <span>Mr. John doe</span>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
              <div class="pull-left">
                <span>Contact's Mobile phone number</span>
              </div>
              <div class="pull-right">
                <span>55 44 123456789</span>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
              <div class="pull-left">
                <span>Contact's Email</span>
              </div>
              <div class="pull-right">
                <span>johndoe@john.com</span>
              </div>
              <div class="clearfix"></div>
            </li>
          </ul>

          <h4>Passengers</h4>
          <!-- PASSENGER -->
          <ul class="list-group">
            <li class="list-group-item">
              <div class="pull-left">
                <strong>Passenger #01</strong>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
              <div class="pull-left">
                <span>Full name</span>
              </div>
              <div class="pull-right">
                <span>Mr. John doe</span>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
              <div class="pull-left">
                <span>Category</span>
              </div>
              <div class="pull-right">
                <span>Economy</span>
              </div>
              <div class="clearfix"></div>
            </li>
          </ul>
          <!-- /PASSENGER -->

          <!-- PASSENGER -->
          <ul class="list-group">
            <li class="list-group-item">
              <div class="pull-left">
                <strong>Passenger #02</strong>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
              <div class="pull-left">
                <span>Full name</span>
              </div>
              <div class="pull-right">
                <span>Mrs. Mary doe</span>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
              <div class="pull-left">
                <span>Category</span>
              </div>
              <div class="pull-right">
                <span>First Class</span>
              </div>
              <div class="clearfix"></div>
            </li>
          </ul>
          <!-- /PASSENGER -->

          <h4>Flight Information</h4>
          <ul class="list-group">
            <li class="list-group-item">
              <div class="pull-left">
                <span>Flight Code</span>
              </div>
              <div class="pull-right">
                <span>EM-457</span>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
              <div class="pull-left">
                <span>Airline</span>
              </div>
              <div class="pull-right">
                <span>Emirates</span>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
              <div class="pull-left">
                <span>Departure</span>
              </div>
              <div class="pull-right">
                <span>Jakarta (CGK) - 18:45 - 29/04/2017</span>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
              <div class="pull-left">
                <span>Destination</span>
              </div>
              <div class="pull-right">
                <span>Abu Dhabi (AUH) - 23:20 - 29/04/2017</span>
              </div>
              <div class="clearfix"></div>
            </li>
          </ul>

          <h4>Payment</h4>
          <ul class="list-group">
            <li class="list-group-item">
              <div class="pull-left">
                <strong>Passengers Fare</strong>
              </div>
              <div class="pull-right">
                <strong>IDR24.796.650,00</strong>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item list-group-item-info">
              <div class="pull-left">
                <strong>You Pay</strong>
              </div>
              <div class="pull-right">
                <strong>IDR24.796.650,00</strong>
              </div>
              <div class="clearfix"></div>
            </li>
          </ul>

          <button class="btn btn-primary pull-right">Print</button>
        </section>
      </form>
    </div>
  </div>
</div>
<br>
