<div class="container">
  <h2>Booking</h2>
  <div class="row">
    <div class="col-md-8">
      <form role="form" action="hotel-payment.html">
        <section>
          <h3>Guest(s) Details</h3>
          <div class="panel panel-default">
            <div class="panel-body">
              <h4>Guest #1</h4>
              <div class="form-group row">
                <div class="col-sm-3">
                  <label class="control-label">Title:</label>
                  <select class="form-control">
                    <option value="mr">Mr.</option>
                    <option value="mrs">Mrs.</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6">
                  <label class="control-label">First Name:</label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-sm-6">
                  <label class="control-label">Last Name:</label>
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-body">
              <h4>Guest #2</h4>
              <div class="form-group row">
                <div class="col-sm-3">
                  <label class="control-label">Title:</label>
                  <select class="form-control">
                    <option value="mr">Mr.</option>
                    <option value="mrs">Mrs.</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6">
                  <label class="control-label">First Name:</label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-sm-6">
                  <label class="control-label">Last Name:</label>
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="text-right">
            <button type="submit" class="btn btn-primary">
              Continue for Payment
            </button>
          </div>
        </section>
      </form>
    </div>
    <div class="col-md-4">
      <h3>Booking Details</h3>
      <aside>
        <article>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-12">
                  <h4><strong>Yas Island Rotana</strong></h4>
                  <div class="location">
                    <small>
                      <i class="glyphicon glyphicon-map-marker"></i> Abu Dhabi
                    </small>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-12">
                  <ul class="list-group" style="margin-bottom: 0;">
                    <li class="list-group-item">
                      <div class="pull-left">No. of guests</div>
                      <div class="pull-right">2 Guests</div>
                      <div class="clearfix"></div>
                    </li>
                    <li class="list-group-item">
                      <div class="pull-left">Price per guest</div>
                      <div class="pull-right">IDR955.172,00</div>
                      <div class="clearfix"></div>
                    </li>
                    <li class="list-group-item">
                      <div class="pull-left">Total cost</div>
                      <div class="pull-right">IDR1.910.344,00</div>
                      <div class="clearfix"></div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </article>
      </aside>
    </div>
  </div>
</div>
<br>
